PORT=3000

API_KEY=your_api_key_here

SMTP_HOST=smtp.gmail.com
SMTP_PORT=465
SMTP_SECURE=true

SMTP_USER=your-email@gmail.com
SMTP_PASS=your_app_password_here

MAIL_FROM="Nikhil Sharma <your-email@gmail.com>"